// src/styles/components/_color-fields.scss
@use '../variables' as *;
@use '../mixins' as *;

.sgc-mfe-attributes {
    .cv-field-label {
        display: block;
        font-weight: 700;
        margin-bottom: $spacing-sm;
    }

    .cv-field-label-margin-lg {
        margin-bottom: $spacing-md;
    }

    .cv-radio-group {
        align-items: center;
        display: flex;
        gap: $spacing-md;
    }

    .cv-radio-item {
        align-items: center;
        display: flex;
    }

    .cv-radio-label {
        color: $color-text-main;
        cursor: pointer;
        font-weight: 600;
        margin-bottom: 0 !important; // Quitar margen inferior de label estándar
        margin-left: $spacing-sm;
    }

    .cv-info-legend-item {
        align-items: center;
        border: 1px solid;
        border-radius: $border-radius-sm;
        display: flex;
        padding: $spacing-sm $spacing-md;
        width: fit-content;

        &.border-danger {
            border-color: #ef4444; // text-danger
        }

        &.border-green-500 {
            border-color: $color-success;
        }
    }

    .cv-info-legend-icon {
        font-size: $font-size-lg;
        font-weight: 700;
        margin-right: $spacing-sm;
    }

    .cv-error-icon-container {
        align-items: center;
        display: flex;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .cv-error-icon-container-high {
        transform: translateY(-115%);
    }

    .cv-error-icon {
        font-size: $font-size-lg;
        font-weight: 700;
        margin-right: $spacing-sm;
    }
}
