
$logo-height: 48px;

$navbar-height: 112px;
$navbar-controls-height: 27px;
$submenu-height: 56px;
$footer-height: 32px;

$sidebar-collapsed-width: 80px;
$sidebar-expanded-width: 280px;
$sidebar-submenu-area-width: 736px;
$sidebar-submenu-column-width: 336px;
$mobile-sidebar-submenu-area-width: 260px;

$padding-container: 8vw;